@font-face {
    font-family: 'Comforta';
    src: url(Comfortaa-Light.ttf);}
* {
    box-sizing: border-box;
    font-family: 'Comforta';
    margin: 0;
    padding: 0;}
.container {
    width: 1000px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    background: #47a8f7c5;
    color: rgb(255, 255, 255);
    padding: 50px 0;
}
h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}
input, button {
    width: 600px;
    border: 2px solid rgb(220, 241, 245);
    background: rgb(220, 241, 245);
    height: 50px;
    border-radius: 5px;
    color: #47a8f7;
    margin: 0 auto;
    display: block;
    border: 0;
}
button {
    cursor: pointer;
    width: 90px;
    background: #ffffff;
    height: 40px;
    margin-top: 40px;
}
input {
    padding: 5px 40px;
    text-align: center;
    background: #00000000;
    color: #ffffff;
    font-size: 30px;
}
input:focus-visible input {
    border: none;
}
input::placeholder {
    color: #cccccc;
    font-size: 30px;
    text-align: center;
    transition: all 0.3s;
}
input:hover {
    color: #ffffff;
    border-bottom: 1px solid #fff;
}
.card {
    display: flex;
    width: 530px;
    background: #fdfdfd;
    margin: 0 auto;
    color: #47a7f7;
    margin-top: 30px;
    gap: 20px;
    border: 1px solid #93f2ff;
    padding: 10px;
    justify-content: space-between;
}
.city-name {
    font-size: 40px;
    text-align: center;
}
.main-temperature td:first-child {
    font-size: 40px;
    margin-left: 20px;
}
.main-temperature {
    font-size: 20px;
}
.main-time {
    font-size: 20px;
}
.card-wrapper {
    display: flex;
}
.other {
    border-top: 1px solid #47a8f7a1;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly
}
.city-undefined {
    display: none;
    margin: 0 auto;
}
.city-undefined.active {
    display: block;
}

.main-card {
    width: 700px;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto 0;
    display: none;
    flex-direction: column;
    background: #fdfdfd;
    color: #47a7f7
}
.main-card.active {
    display: flex;
}
.main-graf-wrapper {
    width: 500px;
    height: 240px;
    border-radius: 5px;
    padding: 10px;
}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}
.day {
    font-size: 40px;
    align-content: center;
}
.day-weather {
    display: block;
    height: 96px;
    width: 96px;
}
.day-time-holder {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.main-time td:first-child {
    font-size: 40px;
}
.card-img {
    height: 80px;
    width: 80px;
    background: #47a7f7;
    border-radius: 50%;
}
.maincard-img {
    height: 140px;
    width: 140px;
    background: #47a7f7;
    border-radius: 50%;
}
.city-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 20px;
    margin-bottom: 30px;
}
.main-temperature td:not(:first-child){
    padding-bottom: 7px;
    align-content: end;
}
.main-time td:not(:first-child){
    align-content: end;
    padding-bottom: 7px;
}
.day-temperature {
    display: inline-flex;
    gap: 5px;
}
.state {
    font-size: 40px;
}
.main-info {
    text-align: center;
}
.day-temperature {
    border: none;
    border-collapse: collapse;
}
.time td:not(:first-child), .time-temperature td:not(:first-child){
    border-left: 1px solid #0e7dd8;
}
.time td{
    padding: 2px 6px;
    border-collapse: collapse;
    border-bottom: 1px solid #0e7dd8;
}
.time-temperature td {
    padding: 2px 6px;
    border-collapse: collapse;
}
.main-temperature td {
    padding-top: 15px;
}